@import "tailwindcss";
@plugin "daisyui" {
  themes:
    emerald --default,
    dim --prefersdark;
}

@media print {
  @page {
    size: A4;
    margin: 1.1cm 1.27cm;
  }

  :root {
    color-scheme: light;
  }

  html,
  body {
    background: white !important;
  }
}
